@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
:root{
  --colour-1: #E5989B;
  --colour-2: #B5838D
}
body{
  background-color: #FFCDB2;
  opacity: 1;
  background-image: linear-gradient(to right, #FFB4A2, #FFB4A2 25px, #FFCDB2 25px, #FFCDB2 );
  background-size: 50px 100%;
}

/* HOME */
.title{
  position: relative;
  display: flex;
  justify-content: center;
}
.page-title{
  font-weight: 800;
  font-size: 70px;
  color: var(--colour-2);
  position: absolute;
  
}
.page-title-back{
  font-weight: 900;
  font-size: 72px;
  color: white;
}
/*navbar*/
.home-nav{
  display: flex;
  justify-content: center;
}

.home-nav-items{
  margin-top: 2rem;
  height: 5rem;
  width: 50rem;
  background-color: var(--colour-1);
  text-align: center;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-nav-item {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 2rem;
}
/*body*/
.home{
  display: flex;
  justify-content: center;
}
.home-box{
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0 2rem 0;
  width: 50rem;
  height: 25rem;
  background-color: white;
  border-radius: 10px;  
  overflow: hidden;
}


.wave {
  opacity: .4;
  position: absolute;
  top: 65%;
  left: -5%;
  background: var(--colour-2);
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.two {
  width: 430px;
  height: 430px;
  border-raiud: 50%;
  animation: drift 4000ms infinite linear;
  background:var(--colour-1);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.home-text{
  display: flex;
}
.home-word{
  margin: auto 5rem;
  font-size: 4rem;
  font-weigth: ligth;
  -webkit-text-stroke: 1.5px #6D6875;
  color: transparent;
}
/* news section */

/*LETTERS*/
.letter-body{
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
  gap: 1rem
}
.letter-box{
  display:flex;
  justify-content: center;
  align-items: center;
  
  width: 9rem;
  height: 3.5rem;
  border-radius: 10px;
  background-color: white;
  border: 1px dotted black;
}
.letter-box:hover{
  background-color: #d1d1d1;
  color: white;
  border: 1px dotted white;
  transition: 1s;
}
.letters{
  text-decoration: none;
  color: black;
  font-weight: 100;
}

/*pages letters*/
.container-letter{
  display: flex;
  justify-content: center;
}
.body-letter{
  border-radius: 10px;
  margin-top: 2rem;
  width: auto;
  heigth: auto;
  background-color: white;
}
.letter{
  padding: 2rem 5rem;
  line-height: 30px
}

/* SUBSCRIPTION PAGE*/
.subscribe-container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.subscribe-box{
  padding: 4rem;
  border-radius: 0 0 10px 10px;
  background-color: white;
  width: 30rem;
  heigth: 30rem;
  text-align: center;
}
.subscribe-box-up{
  border-radius: 10px 10px 0 0;
  height: 4rem;
  width: 30rem;
  background-color: var(--colour-1);
  text-align: center;
}
.subscribe-box-up > p{
  margin-top: 1rem;
  color: white;
  font-size:1.5rem;
}


.input-email{
  width: 20rem;
  border: 0;
  outline: none;
  padding: 15px 15px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}

.checkbox{
  
  border-radius: 50%;
}
button{
  border: 0;
  border-radius: 10px;
  background: var(--colour-1);
  color: white;
  padding: 15px;
}